{% extends "base.html" %}
{% block meta_extra %}
	{% if article.stylesheets %}
		{% for stylesheet in article.stylesheets %}
			{{ stylesheet }}
		{% endfor %}
	{% endif %}
{% endblock %}
{% block body_extra %}
{% if article.javascripts %}
	{% for javascript in article.javascripts %}
		{{ javascript }}
	{% endfor %}
{% endif %}
{% endblock %}
{% block title %}{{ article.title }}{%endblock%}

{% block content %}

<!-- Main -->
<div class="wrapper style2">
        <div class="title">{{ article.title }}</div>
        <div id="main" class="container">
            <section id="features">
            <img class="article-image" src="{{ article.image }}" />
            {{ article.content }}
            </section>
        </div>
    </div>
{% endblock %}