{% extends "base.html" %}
{% block meta_extra %}
	{% if article.stylesheets %}
		{% for stylesheet in article.stylesheets %}
			{{ stylesheet }}
		{% endfor %}
	{% endif %}
{% endblock %}
{% block body_extra %}
{% if article.javascripts %}
	{% for javascript in article.javascripts %}
		{{ javascript }}
	{% endfor %}
{% endif %}
{% endblock %}
{% block title %}{{ article.title }}{%endblock%}

{% block content %}

<!-- Main -->
<div class="wrapper style2">
        <div class="title">{{ article.title }}</div>
        <div id="main" class="container">
            <section id="features">
            <img class="article-image" src="{{ article.image }}" />
            {{ article.content }}
            </section>
        </div>
    </div>
    {% if article.galleryimages %}
    <div id="gallery" class="wrapper style3">
            <div class="title">Et quelques photos… </div>
        <div id="highlights" class="container">
            <div class="row 150%">
            {% for image in article.galleryimages %}
            <div class="4u 12u(mobile)">
                <section class="highlight">
                    <a class="image featured" href="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}"><img class="gallery-image" src="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}" alt="" /></a>
                </section>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

        
{% endblock %}