<!DOCTYPE HTML>
<html>
    <head>
    {% block head %}
    <title>{{ SITENAME }} — {% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% block meta_extra %}{% endblock %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" />
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ SITEURL }}/theme/css/ie8.css" /><![endif]-->
  {% endblock head %}
    </head>
    <body class="homepage right-sidebar">

        <!-- Header -->
        <div id="header-wrapper" class="wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="index.html"><img src="{{ SITEURL }}/theme/css/images/logo-transparent.png" alt="CRAB" /></a></h1>
                </div>
            </div>
        </div>
        <nav id="nav">
            <ul>
                {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <div class="wrapper style3">
            <div class="title">Les dernières nouvelles</div>
            <div id="highlights" class="container">
                <div class="row 150%">
                {% for article in dates %}
                <div class="4u 12u(mobile)">
                    <section class="highlight">
                        <a href="{{ SITEURL }}/{{ article.url }}" class="image featured"><img src="{{ article.image }}" alt="" /></a>
                        <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                        <p>{{ article.accroche }}</p>
                    </section>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>

                <div id="footer-wrapper" class="wrapper">
                    <div id="footer" class="container">
                        <header class="style1">
                            <h2>Vous avez envie d'échanger sur la fabrication de bière ?</h2>
                            <p>
                                Venez à notre prochain rendez-vous ou adhérez <br />à l'association !
                            </p>
                            <ul class="actions actions-centered">
                                <li><a href="https://www.helloasso.com/associations/collectif-rennais-des-amateurs-de-bieres-crab/adhesions/adhesion-au-crab" class="button style1 big">Adhésion en ligne</a></li>
                                <li><a href="https://fb.com/CRABRennes" class="button style1 big">Page Facebook du CRAB</a></li>
                            </ul>
                        </header>
                        <hr />
                    </div>
                    <div id="copyright">
                        <ul>
                            <li>Le logo du CRAB est un travail de <a href="https://www.clementdroff.fr">Clément Droff</a></li>
                            <li>Design par <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </div>

        </div>

        <!-- Scripts -->

            <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
            <script src="{{ SITEURL }}/theme/js/jquery.dropotron.min.js"></script>
            <script src="{{ SITEURL }}/theme/js/skel.min.js"></script>
            <script src="{{ SITEURL }}/theme/js/skel-viewport.min.js"></script>
            <script src="{{ SITEURL }}/theme/js/util.js"></script>
            <!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/ie/respond.min.js"></script><![endif]-->
            <script src="{{ SITEURL }}/theme/js/main.js"></script>

    </body>
</html>
